    <header>
        <div class="MubeaLogo">
            <!--<img src="/images/Mubea_Logo_white_without_transparent.gif" alt="sollte Mubea-LogoBild sein" height="50" class="logo1">-->
            <img src="/images/Mubea_logo.svg.png" alt="sollte Mubea-LogoBild sein" class="logo" height="50" width="185">
            <a class="MubeaTrack">Track</a>
            <a class="headerUser">headerUser</a>

                                       <!-- <form action="/api/v1/login2/" method="delete"> -->
                                        <form action="?_method=DELETE" method="post" class="formUserHeader">
                                            <input type="submit"  value="LogOut"/>
                                        </form>


                                        </form>
                      <!-- <button class = 'btn btn-primary' onclick = "%= xLogOut %">xClicker</button> -->
                      <a class="containerAvatarImageButtonA">

                        <button class="btnAvatar" id="btnAvatar" src="/images/avatarImg.png""><img class="imgAvatar" src="/images/avatarImg1.png" alt="AvatarBild">ME</button>
                      </a>

        </div>


                <script>
                    console.log("avatarFarbe: "+<%- JSON.stringify(avatarFarbeServer) %>)
                    let avatarFarbe = <%- JSON.stringify(avatarFarbeServer) %>
                    if(avatarFarbe === "blau"){
                        //document.getelementbyid('btnAvatar').style.background = "blue"/*"#1e9107"*/ /*"#c8ed10";*/
                       btnAvatar.style.background = "blue"
                    } else if(avatarFarbe === "rot"){
                        btnAvatar.style.background = "red"
                       // document.getelementbyid('btnAvatar').style.background = "red"
                        //lbAusgabeMaNummerLServer.style.fontWeight = "900";
                    } else if(avatarFarbe === "grün"){
                        //lbAusgabePasswortLServer.style.color = "#27b30b";
                        //lbAusgabePasswortLServer.style.fontWeight = "900";
                    } else if(avatarFarbe === "orange"){
                        //lbAusgabePasswortLServer.style.color = "#e31220";
                        //lbAusgabePasswortLServer.style.fontWeight = "900";
                    } else if(avatarFarbe === "pink"){
                       // lbAusgabePasswortLServer.style.color = "#e31220";
                    }

                 </script>


    </header>