    <header>
        <div class="MubeaLogo">
            <!--<img src="/images/Mubea_Logo_white_without_transparent.gif" alt="sollte Mubea-LogoBild sein" height="50" class="logo1">-->
            <img src="/images/Mubea_logo.svg.png" alt="sollte Mubea-LogoBild sein" class="logo" height="50" width="185">
            <a class="MubeaTrack">Track</a>
            <a class="headerAdmin">headerAdmin</a>

        <form action="" method="post" class="formAdminHeader">
           <input type="submit"  value="MitarbeiterVerwaltung" name="mitarbeiterVerwaltungButtonNameEjs"/>
        </form>
        <!-- <form action="/api/v1/inHome/kundenVerwaltung" method="" class="formAdminHeader"> -->
        <form action="" method="post" class="formAdminHeader">
            <input type="submit"  value="KundenVerwaltung" name="kundenVerwaltungButtonNameEjs"/>
        </form>

                                                   <!-- <form action="/api/v1/login2/" method="delete"> -->
            <form action="?_method=DELETE" method="post" class="formAdminHeader">
                 <input type="submit"  value="LogOut"/>
            </form>


            <a>Avatar</a>
        </div>
    </header>