<header>
    <div class="HeaderGridUser">
        <div class="MubeaLogoGridUser">
            <!--<img src="/images/Mubea_Logo_white_without_transparent.gif" alt="sollte Mubea-LogoBild sein" height="50" class="logo1">-->
            <img class="logoUser" src="/images/Mubea_logo.svg.png" alt="sollte Mubea-LogoBild sein" height="50" width="185">
            <a class="MubeaTrackUser">Track</a>
            <a class="headerUserUser">headerUser</a>
            <!-- <form action="/api/v1/login2/" method="delete"> -->
            <form class="FormLogOutUser" action="?_method=DELETE" method="post" >
              <button class="btnLogOutUser" type="submit"  value="LogOut"><img class="imgLogOutUser" id="imgLogOutUser1" src="/images/LogOut.svg.png" alt=""></button>
            </form>
            <form class="FormAvatarMEUser" action="" method="post" >
              <button value="meinAvatar" name="meinAvatarButtonNameEjs" class="btnAvatarMEUser" id="btnAvatarMe1"><img class="imgAvatarME" id="imgAvatarMe1" src="/images/Avatar.svg.png" alt=""></button>
            </form>
        </div>
    </div>

    <script>
        console.log("avatarFarbe: "+<%- JSON.stringify(avatarFarbeServer) %>)
        let avatarFarbe = <%- JSON.stringify(avatarFarbeServer) %>
        if(avatarFarbe === "Blau"){
          //document.getelementbyid('btnAvatar').style.background = "blue"/*"#1e9107"*/ /*"#c8ed10";*/
          //btnAvatarMe1.style.background = "blue"
           imgAvatarMe1.className += "imgAvatarMEblue"
           imgLogOutUser1.className = "imgLogOutUserBlue"
        } else if(avatarFarbe === "Rot"){
          //btnAvatarMe1.style.background = "blue"
            imgAvatarMe1.className += "imgAvatarMEred"
            imgLogOutUser1.className = "imgLogOutUserRed"
          //btnAvatarMe1.style.border-color === 'red';
          //imgAvatarMe1.style.filter = 'invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%)';
          //document.getelementbyid('btnAvatar').style.background = "red"
          //lbAusgabeMaNummerLServer.style.fontWeight = "900";
        } else if(avatarFarbe === "Gruen"){
            imgAvatarMe1.className += "imgAvatarMEgreen"
            imgLogOutUser1.className = "imgLogOutUserGreen"
        }else if(avatarFarbe === "Schwarz"){

        }
    </script>
</header>
