    <header>
        <div class="MubeaLogo">
            <!--<img src="/images/Mubea_Logo_white_without_transparent.gif" alt="sollte Mubea-LogoBild sein" height="50" class="logo1">-->
            <img src="/images/Mubea_logo.svg.png" alt="sollte Mubea-LogoBild sein" class="logo" height="50" width="185">
            <a class="MubeaTrack">Track</a>
            <a class="headerAdmin">headerAdmin</a>
        </div>
    </header>