    <header>
        <div class="MubeaLogo">
            <!--<img src="/images/Mubea_Logo_white_without_transparent.gif" alt="sollte Mubea-LogoBild sein" height="50" class="logo1">-->
            <img src="/images/Mubea_logo.svg.png" alt="sollte Mubea-LogoBild sein" class="logo" height="50" width="185">
            <a class="MubeaTrack">Track</a>
            <a class="headerUser">headerUser</a>

                                       <!-- <form action="/api/v1/login2/" method="delete"> -->
                                        <form action="?_method=DELETE" method="post">
                                        @method('DELETE')
                                        @csrf
                                            <input type="submit"  value="LogOut"/>
                                        </form>

      <form action="" method="post">
      <input type="submit"  value="Post"/>
                                        </form>
                      <!-- <button class = 'btn btn-primary' onclick = "%= xLogOut %">xClicker</button> -->

        </div>
    </header>