h1 {
    background-color: rgb(208, 224, 208);
}

.headerAdmin{
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.formAdminHeader{
    margin-top: 20px;
    grid-column: 5;
    grid-row: 1;
    display: inline-block;
}

.h1_Mitarbeiterverwaltung{
    background-color: rgb(115, 236, 115);
}
h1_Kundenverwaltung{
    background-color: rgb(124, 144, 124);
}

/*headerUser------------------------------------------------------------------------------------------*/
.HeaderGridUser{
    width: 100%;
    height: 50px;
    border: 1px solid darkslateblue;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: -5px;
}

.MubeaLogoGridUser {
    margin: 1px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;

    display: grid;
    /*grid-template-columns: repeat(1, 0.4fr);original*/
    grid-template-columns: repeat(1, 165px  200px 600px 80px) 200px;
    gap: 10px;
    grid-auto-rows: minmax(3px, auto);
}

.logoUser{
    margin-left: -10px;
    grid-column: 1;
    grid-row: 1;
}

.MubeaTrackUser{
    color: #c8ed10;
    font-size: 2em;
    font-weight: bold;
    margin-top: 23px;
    /*padding: -5px;
    height: 30px;*/
    grid-column: 2;
    grid-row: 1;
}

.headerUserUser{
    color: gold;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    grid-column: 3;
    grid-row: 1;
}

/*

*/
/*
.logOutUser{
    margin-top: 20px;
    grid-column: 5;
    grid-row: 1;
    display: inline-block;
}
*/
.FormLogOutUser{
    border-radius: 50%;
    /* border: 1px solid red; */
    border: none;
    height: 46px;
    width: 46px;
    margin-top: 5px;
    grid-column: 5;
    grid-row: 1;
}

.btnLogOutUser{
    border-radius: 50%;
    /* border: 1px solid yellow;*/
    border: none;
    font-size: 90px;
    margin-top: 0px;
    margin-left: 1px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    /* background-color: none; */
    background-color: inherit;
}

.imgLogOutUser{
    border: 1px solid black;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: -5px;
    margin-bottom: 42px;
    /*filter: invert(42%) sepia(20%) saturate(1000%) hue-rotate(70deg) brightness(131%) contrast(132%);*/
}

.imgLogOutUserRed{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* red */
    filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%);
}

.imgLogOutUserBlue{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* blue */
    filter: invert(9%) sepia(100%) saturate(5655%) hue-rotate(245deg) brightness(101%) contrast(149%);
}

.imgLogOutUserGreen{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* green */
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(81deg) brightness(111%) contrast(132%);
}





/*Button AvatarME*/
.btnAvatarMEUser{
    border-radius: 50%;
    /*border: 1px solid red;*/
    border: 1px solid ;
    border-color: none; /*rgb(71, 205, 214);*/
    border: none;

    font-size: 90px;
    margin-top: 5px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    /* background-color: none; */
    background-color: inherit;
    /*appearance: none;*/
    grid-column: 4;
    grid-row: 1;
}

.imgAvatarME{
    border: 1px solid black;
    font-size: 80px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -4px;
    margin-bottom: 42px;
    /*schwarz*/
}

.imgAvatarMEimgAvatarMEred{
    border: 1px solid green;
    font-size: 80px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -4px;
    margin-bottom: 42px;
    /* red */
    filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%);
}

.imgAvatarMEimgAvatarMEblue{
    border: 1px solid green;
    font-size: 80px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -4px;
    margin-bottom: 42px;
    /* blue */
    filter: invert(9%) sepia(100%) saturate(5655%) hue-rotate(245deg) brightness(101%) contrast(149%);
}

.imgAvatarMEimgAvatarMEgreen{
    border: 1px solid green;
    font-size: 80px;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    margin-left: -4px;
    margin-bottom: 42px;
    /* green */
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(81deg) brightness(111%) contrast(132%);
}



/*HeaderAdmin----------------------------------------------------------------------------------------------------*/

.HeaderGridAdmin{
    width: 100%;
    height: 50px;
    border: 1px solid darkslateblue;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: -5px;
}

.MubeaLogoGridAdmin {
    margin: 1px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;

    display: grid;
    /*grid-template-columns: repeat(1, 0.4fr);original*/
    grid-template-columns: repeat(1, 165px  350px 300px 180px 220px 80px 50px) 200px;
    gap: 10px;
    grid-auto-rows: minmax(3px, auto);
}

.logoAdmin{
    margin-left: -10px;
    grid-column: 1;
    grid-row: 1;
}

.MubeaTrackAdmin{
    color: #c8ed10;
    font-size: 2em;
    font-weight: bold;
    margin-top: 23px;
    /*padding: -5px;
    height: 30px;*/
    grid-column: 2;
    grid-row: 1;
}

.headerAdminAdmin{
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    grid-column: 3;
    grid-row: 1;
}

.FormmitarbeiterVerwaltungAdmin{
    margin-top: 20px;
    grid-column: 4;
    grid-row: 1;
    display: inline-block;
}

.FormkundenVerwaltungAdmin{
    margin-top: 20px;
    grid-column: 5;
    grid-row: 1;
    display: inline-block;
}

.FormLogOutAdmin{
    border-radius: 50%;
    /* border: 1px solid red; */
    border: none;
    height: 46px;
    width: 46px;
    margin-top: 3px;
    grid-column: 7;
    grid-row: 1;
}

.btnLogOutAdmin{
    border-radius: 50%;
    /* border: 1px solid yellow;*/
    border: none;
    font-size: 90px;
    margin-top: 1px;
    margin-left: 1px;
    height: 43px;
    width: 43px;
    cursor: pointer;
    /* background-color: none; */
    background-color: inherit;
}

.imgLogOutAdmin{
    border: 1px solid black;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: -5px;
    margin-bottom: 42px;
    /*filter: invert(42%) sepia(20%) saturate(1000%) hue-rotate(70deg) brightness(131%) contrast(132%);*/
}

.imgLogOutAdminRed{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* red */
    filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%);
}

.imgLogOutAdminBlue{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* blue */
    filter: invert(9%) sepia(100%) saturate(5655%) hue-rotate(245deg) brightness(101%) contrast(149%);
}

.imgLogOutAdminGreen{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* green */
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(81deg) brightness(111%) contrast(132%);
}


.FormAvatarMEAdmin{
    border-radius: 50%;
    /* border: 1px solid red; */
    border: none;
    height: 46px;
    width: 46px;
    margin-top: 3px;
    grid-column: 6;
    grid-row: 1;
}

/*Button AvatarME*/
.btnAvatarMEAdmin{
    border-radius: 50%;
    /* border: 1px solid yellow;
     border: 1px solid ;
   /*  border-color: none; /*rgb(71, 205, 214);*/
    border: none;

    font-size: 90px;
    margin-top: 1px;
    margin-left: 1px;
    height: 43px;
    width: 43px;

    cursor: pointer;
    /* background-color: none; */
    background-color: inherit;
    /*appearance: none;*/

}

.imgAvatarMEAdmin{
    border: 1px solid black;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* red */
    /*filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%);*/
    /* green */
    /* filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(81deg) brightness(111%) contrast(132%); */
    /* blue */
    /*filter: invert(9%) sepia(100%) saturate(5655%) hue-rotate(245deg) brightness(101%) contrast(149%);*/
    /*filter: invert(42%) sepia(20%) saturate(1000%) hue-rotate(70deg) brightness(131%) contrast(132%);*/
}

.imgAvatarMEAdminRed{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* red */
    filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%);
}

.imgAvatarMEAdminBlue{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* blue */
    filter: invert(9%) sepia(100%) saturate(5655%) hue-rotate(245deg) brightness(101%) contrast(149%);
}

.imgAvatarMEAdminGreen{
    border: 1px solid green;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: 42px;
    /* green */
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(81deg) brightness(111%) contrast(132%);
}
/*--------------------------------------------------------------------------------------------------------------------------*/



/*table schön machen*/
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}





















.containerAvatarImageButton {
    position: relative;
    width: 100%;
    max-width: 60px;
}

.containerAvatarImageButton img {
    width: 100%;
    height: auto;
}

.containerAvatarImageButton .btnAvatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.containerAvatarImageButton .btnAvatar:hover {
    background-color: black;
}





/* Kalender */
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    display: block;
}

input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1
}

input::-webkit-calendar-picker-indicator:hover {
    background: transparent;
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator::after {
    content: '';
    display: block;
    background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-32.png) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
}

.date {
    position: relative;
    width: 154px;
    overflow: auto;
    margin: 30px auto;
    background: #000;
}
.inputx {
    width: 140px;
    padding: 5px;
    height: 24px;
    display: block;
}
