h1 {
    background-color: rgb(208, 224, 208);
}

.MubeaLogo {
    margin: 1px;
    margin-left: 10px;
    margin-top: 6px;
    padding: 0;
    box-sizing: border-box;
}
.MubeaTrack{
    color: #c8ed10;
    font-size: 2em;
    font-weight: bold;/*
    margin-bottom: -5px;
    padding: -5px;
    height: 30px;*/
}


.headerUser{
    color: gold;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.headerAdmin{
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.formAdminHeader{
    display: inline-block;
}

.formUserHeader{
    display: inline-block;
}




.footer-InHomer{
    border-style: solid;
    border-color: silver darkgray darkgray darkgray;
    border-top-left-radius: 0.4em;
    border-width: 1px;
    width: 99.5%;
    position: fixed;
    bottom: 2px;
}



.btnAvatar{
    /*background: #7c907c;*/
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid yellow;
}

.containerAvatarImageButton{

}


.imgAvatar{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.h1_Mitarbeiterverwaltung{
    background-color: rgb(115, 236, 115);
}
h1_Kundenverwaltung{
    background-color: rgb(124, 144, 124);
}


/*table schön machen*/
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}























.containerAvatarImageButton {
    position: relative;
    width: 100%;
    max-width: 60px;
}

.containerAvatarImageButton img {
    width: 100%;
    height: auto;
}

.containerAvatarImageButton .btnAvatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.containerAvatarImageButton .btnAvatar:hover {
    background-color: black;
}







/* Kalender */
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    display: block;
}

input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1
}

input::-webkit-calendar-picker-indicator:hover {
    background: transparent;
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator::after {
    content: '';
    display: block;
    background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-32.png) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
}

.date {
    position: relative;
    width: 154px;
    overflow: auto;
    margin: 30px auto;
    background: #000;
}
.inputx {
    width: 140px;
    padding: 5px;
    height: 24px;
    display: block;
}