h1 {
    background-color: rgb(124, 144, 124);
}



.MubeaLogo {
    margin: 1px;
    margin-left: 10px;
    margin-top: 6px;
    padding: 0;
    box-sizing: border-box;
}
.MubeaTrack{
    color: #c8ed10;
    font-size: 2em;
    font-weight: bold;/*
    margin-bottom: -5px;
    padding: -5px;
    height: 30px;*/
}



.headerAdmin{
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.formAdminHeader{
    display: inline-block;
}

.formUserHeader{
    display: inline-block;
}




.footer-InHomer{
    border-style: solid;
    border-color: silver darkgray darkgray darkgray;
    border-top-left-radius: 0.4em;
    border-width: 1px;
}