<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link type="text/css" rel="stylesheet" href="/public/css/styleInHome.css" media="all"> -->
    <link type="text/css" rel="stylesheet" href="/css/styleInHome.css" media="all">

    <title>MitarbeiterVerwaltung</title>
</head>

<body>

<%- include('../partials/headerAdmin'); %>

    <main>

    <h1>Mitarbeiterverwaltung</h1>


<td>
<select class="admin" name="gender" id="gender">
<option><label th:text="${infos.gender}"></label></option>
<option value="Chef">Male</option>
<option value="Mitarbeiter">Female</option>
</select>
</td>



    <input type="button" onclick="location.href='/api/v1/inHome/:irgendwas';" value="go ...v1/InHome/:irgendwas" />











    </main>
    <%- include('../partials/footerAdminUser'); %>
    <!--<footer class="footer-Login">
            <!-- Reihenfolge
            <div style="float: left; background-color: lightgray;"><a class="pCopyRFooterLogin">© C.Tschenet / J.Schmidt</a></div>
            <div style="float: right; background-color: lightgray;"><a class="pDateFooterLogin">Dez. 2022 / Jan. 2023</a></div>
            <div style="margin: 0 auto; width: 100px;"><a>Version 1.0</a></a></div>
    </footer>-->
    <scirpt>
    </script>


</body>

</html>
