<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="/css/styleInHome.css" media="all">
    <link rel="icon" type="image/png" href="/images/favicon/favicon.png">

    <title>KundenErstellen</title>
</head>

<body>

<%- include('../partials/headerAdmin'); %>

    <main>

        <h1>KundenErstellen</h1>
   <form action="" method="post" class="formAdminHeader">
            neuKundenErfasstDatum: <input name="neuKundenErfasstDatumClientEJS" value="<%= ("0"+new Date().getDate()).slice(-2)+'.'+("0"+(new Date().getMonth()+1)).slice(-2)+'.'+new Date().getFullYear()%>" type="text" />
            <br>
            neuKundenName: <input name="neuKundenNameClientEJS" value="" type="text" /><a><%=FehlerKundenName%></a>
            <br>
            neuKundenNummer: <input name="neuKundenNummerClientEJS" value="" type="text" />
            <br>
            neuKundenOrt: <input name="neuKundenOrtClientEJS" value="" type="text" />
            <br>
            neuKundenAdresse: <input name="neuKundenAdresseClientEJS" value="" type="text" />
            <br>
            neuKundenLand: <input name="neuKundenLandClientEJS" value="" type="text" />
            <br>
            <br>
            <input type="submit"  value="Speichern"  name="ButtonSpeichernEjs"/>
            <input type="submit"  value="Abrechen"  name="ButtonAbrechenEjs"/>
        </form>

        <br>
        <br>
        <form action="" method="post" class="formAdminHeader">
            <input type="submit"  value="Zurück zur Kundenverwaltung"  name="ButtonZuruekZurKundenVerwaltungEjs"/>
        </form>


    </main>
    <%- include('../partials/footerAdminUser'); %>

    <scirpt>
    </script>

</body>

</html>
