<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link type="text/css" rel="stylesheet" href="/public/css/styleInHome.css" media="all"> -->
    <link type="text/css" rel="stylesheet" href="/css/styleMitarbeiterVerwaltung.css" media="all">
    <link rel="icon" type="image/png" href="/images/favicon/favicon.png">

    <title>MitarbeiterVerwaltung</title>
</head>

<body>

<%- include('../partials/headerAdmin'); %>

    <main>

    <h1>Mitarbeiterverwaltung</h1>


<td>
<select class="admin" name="gender" id="gender">
<option><label th:text="${infos.gender}"></label></option>
<option value="Chef">Male</option>
<option value="Mitarbeiter">Female</option>
</select>
</td>

            <br>
            <br>
            <form action="" method="post" class="formAdminHeader">
                <input type="submit"  value="Zurück zur Verladungserfassung" name="mitarbeiterVerwaltungButtonRetourInHomeNameEjs"/>
            </form>
            <br>
            <br>







    </main>
    <%- include('../partials/footerAdminUser'); %>

    <scirpt>
    </script>


</body>

</html>
