   <!DOCTYPE html>
   <html lang="de">

       <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="description" content="Infos zu my Website google suche">

   <!--     <meta http-equiv='cache-control' content='no-cache'> -->
        <!-- <meta http-equiv='expires' content='0'> -->
        <!--<meta http-equiv='pragma' content='no-cache'> -->


       <link rel="icon" type="image/png" href="/images/favicon/favicon.png">

       <title>Login-Out</title>
   </head>




   <body>

       <header>
       </header>

       <main>
            <h3>Log out...</h3>

       </main>

       <script>
       setTimeout(() => {
         console.log("Delayed for 1 second.");
         window.poen('http://localhost:7005/api/v1/login1')
       }, "3000")
        console.log("aussen");//
// myFunction()
// myFunction(){
//    setInterval(function(){
//       console.log("Hello 1sec");
//    }, 1000);
//    console.log("aussen");
// };
load()
function load() {
         let interval1 = setInterval(myURL, 6000);
         var result = document.getElementById("result");
         result.innerHTML = "<b> The page will load after delay of 5 seconds using setInterval() method.";
      }

      function myURL() {
         window.open('https://www.tutorialspoint.com/index.htm', name = self);
         clearInterval(interval1);
      }

window.addEventListener('pageshow', (event) => {
    var isNavigation = event.persisted ||
        (typeof window.performance != 'undefined' && window.performance.navigation.type === 2);
    if (isNavigation) {
        window.location.reload();
    }
});
       </script>


   </body>

   </html>
